
@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: 'Niramit';
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 24px;
    text-shadow: 1px 1px black;
}