
.header-Wrapper{
    width: 70%;
}


header{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
        color: white;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 1px 1px #f84800, 
        2px 2px #f84800, 
        3px 3px #f84800, 
        4px 4px #f84800, 
        5px 5px #f84800, 
        6px 6px #f84800, 
        7px 7px white;
    }
    p{
        @include fontSize(20);
        // color: white;
        // font-size: 20px;
        // font-family: "Niramit";
    }
    ul{
        padding: 0;
        margin: 60px;
        list-style-type: none;
        text-align: center;
        li{
            @include fontSize(10);
        }
    }
    .fa-arrow-circle-down{
            font-size: 40px;
            color: white;
            transition: 0.3s;
        }
    .fa-arrow-circle-down:hover{
        color: #f84800;
    }    

}