body{
    background: #002654;
    width: 1290px;
    max-width: 75%;
    margin: 0 auto;
    background-image: url("../assets/noun_Pug_3170.svg");
    background-size: 100px 82px;
    background-blend-mode: overlay;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    // max-width: 150px;
}

// .bord{
//         border: 4px solid white;
// }

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: black;
}


main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    section{
        display: flex;
    }
    .main-box{
        width: 450px;
        height: 420px;
        border: 5px solid #f84800;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;

        .box{
            width: 33.333%;
            cursor: pointer;
            display: block;
            height: 33.33%;
            p{
                color: #0006;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Niramit";
                font-size: 70px;
                font-weight: bold;
                margin: 50px auto 0 auto;
                position: absolute;
                left: 37%;
                z-index: -10;
            }

        }
    }
}

.box-border{
    border: 1px solid #f84800;
}


.puzzle-Container{
    display: flex;
    flex-direction: column;
    width: 20%;
    a{
        max-width: 70%;
        margin: 2px;
    }
}

.section-Two{
    height: 150px;
    a{
        margin: 2px;
    }
}

.container-Two{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 40%;
}

.boxShadow{
    box-shadow: 0px 0px 45px #f84800;
}

.winner-box{
    width: 55%;
    height: 400px;
    background: #e7e7e7;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    position: absolute;
    z-index: 10;
    top: 120%;
    left: 20%;
    right: 20%;
    bottom: 40%;
    box-shadow: 10px 10px 10px black;
    border-radius: 1%;
}
    .congrats{
        color: #002654;
        margin-top: 40px;
    }

.winner-box p{
    font-family: "Niramit";
    font-size: 30px;
    color: #002654;
}

button{
    color: #002654;
    font-family: "Niramit";
    padding: 10px;
    box-shadow: 2px 2px 2px #f84800;
    border: 1px solid #002654;
    transition: 0.5s;
}
button:hover{
    color: white;
    border: 1px solid #f84800;
    background: #f84800;
    box-shadow: 2px 2px 2px #002654;

}

.winner-Display{
    display: block;
}

.winner-Highlight{
    box-shadow: 0px 0px 150px #f84800;
}


// MEDIA BREAKS

@media(max-width: 1300px){
    body{
        max-width: 90%;
    }
    .puzzle-Container{
        width: 0;
    }
    .container-Two{
        flex-direction: row;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bord{
        border: 1px solid white;
    }

}


@media(max-width: 700px){
    body{
        max-width: 95%;
    }
}


.timeDiv{
    margin: 0 auto;
    p{
        color: white;
        font-size: 30px;
    }
}