article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #002654;
  width: 1290px;
  max-width: 80%;
  margin: 0 auto;
  background-image: url("../assets/noun_Pug_3170.svg");
  background-size: 100px 82px;
  background-blend-mode: overlay; }

img {
  display: block; }

.bord {
  border: 4px solid white; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main .main-box {
    height: 608px;
    width: 610px;
    border: 3px solid #f84800;
    margin: 0 auto 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main .main-box .box {
      position: relative;
      width: calc(33.3%);
      height: calc(33.3%);
      cursor: pointer; }
      main .main-box .box p {
        color: #0006;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: "Niramit";
        font-size: 70px;
        font-weight: bold;
        margin: 50px auto 0 auto;
        position: absolute;
        left: 37%;
        z-index: -10; }

.box-border {
  border: 1px solid #f84800; }

.puzzle-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container-Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto; }

.boxShadow {
  -webkit-box-shadow: 0px 0px 45px #f84800;
  box-shadow: 0px 0px 45px #f84800; }

.winner-box {
  width: 55%;
  height: 400px;
  background: #e7e7e7;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  position: absolute;
  z-index: 10;
  top: 120%;
  left: 20%;
  right: 20%;
  bottom: 40%;
  -webkit-box-shadow: 10px 10px 10px black;
  box-shadow: 10px 10px 10px black;
  border-radius: 1%; }

.congrats {
  color: #002654;
  margin-top: 120px; }

.winner-box p {
  font-family: "Niramit";
  font-size: 30px;
  color: #002654; }

button {
  color: #002654;
  font-family: "Niramit";
  padding: 10px;
  -webkit-box-shadow: 2px 2px 2px #f84800;
  box-shadow: 2px 2px 2px #f84800;
  border: 1px solid #002654;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

button:hover {
  color: white;
  border: 1px solid #f84800;
  background: #f84800;
  -webkit-box-shadow: 2px 2px 2px #002654;
  box-shadow: 2px 2px 2px #002654; }

.winner-Display {
  display: block; }

.header-Wrapper {
  width: 70%; }

header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120vh; }
  header h1 {
    color: white;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 1px 1px #f84800,  2px 2px #f84800,  3px 3px #f84800,  4px 4px #f84800,  5px 5px #f84800,  6px 6px #f84800,  7px 7px white; }
  header p {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Niramit';
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 24px;
    text-shadow: 1px 1px black; }
  header ul {
    padding: 0;
    margin: 60px; }
    header ul li {
      font-size: 10px;
      font-size: 1rem;
      font-family: 'Niramit';
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      line-height: 24px;
      text-shadow: 1px 1px black; }
  header .fa-arrow-circle-down {
    font-size: 40px;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  header .fa-arrow-circle-down:hover {
    color: #f84800; }
